/* Body styles */
body {
  /* Add your styles here */
  background-image: url('https://e1.pxfuel.com/desktop-wallpaper/439/596/desktop-wallpaper-hanging-boxing-gloves-boxing.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.workout-timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
/* Title styles */
.title {
  /* Add your styles here */
  font-size: 8rem;
  color: rgb(239, 94, 94);
  text-shadow: 2px 2px 2px black;
  display: flex;
  justify-content: center;
  margin:0;
}

.instructions{
  font-size: 2rem;
  color: white;
  text-shadow: 2px 2px 2px black;
  display: flex;
  justify-content: center;
}

/* Inputs container styles */
.inputs-container {
  display: flex;
  flex-direction: column;
  text-shadow: 2px 2px 2px black;
  font-size: 2rem;
  color: rgb(208, 181, 46);
  align-items: center;
  justify-content: center;
  margin: 0;
}

/* Input styles */
input {
  border-radius: 5px;
  height: 25px;
  font-size: 1.4rem;
  margin-right: 10px
}

.buttons {
  display:flex
}

/* Button styles */
.btn {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: #008000;
  color: #fff;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 15px
}

.btn:hover {
  background-color: #006400;
}

.btn:active {
  transform: scale(0.9);
}

.resetBtn{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: #592323;
  color: #fff;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 15px
}

.resetBtn:hover {
  background-color: #8b0000;
}

.resetBtn:active {
  transform: scale(0.9);
}

.btn,
.resetBtn {
  display: inline-block;
  margin-right: 10px; /* Adjust the margin as needed */
}

#minutes {
font-size: 10rem;
margin: 0;
}

#seconds {
font-size: 10rem;
margin: 0;
}

/* Timer styles */
.active {
  /* Add your styles here */
}

/* Animation styles */
.animateSeconds {
  /* Add your styles here */
}

.animateMinutes {
  /* Add your styles here */
}

/* Start/Stop button styles */
#start {
  /* Add your styles here */
}

/* Rounds container styles */
.rounds {
  /* Add your styles here */
}

